* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
}
#lobbyList {
  opacity: 0;
  font-size: 18px;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
#joinGameButt {

}
#startCont {
  margin-top: 100px;
  width: 400px;
  height: 350px;
  border-radius: 2px;
  padding-top: 20px;
}
#firstChoice {
  width: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#nameInput {
  text-align: center;
  height: 19px;
  min-width: 158px;
  width: auto;
  color: #000;
  margin-bottom: 30px;
}
#idInput {
  text-align: center;
  height: 19px;
  min-width: 158px;
  width: auto;
  color: #000;
  margin-bottom: 30px;
}
#drawImg {
  opacity: 0;
  z-index: -1;
  left: 25%;
  right: 25%;
  position: absolute;
  border: 2px solid rgba(0,0,0,0.50);
  border-radius: 2px;
}
#deleteImg {
  padding-top: 10px;
}
.button {
  color: white;
  background-color: #2196F3;
  position: relative;
  width: 100px;
  height: 30px;
  padding: 2px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}
.button:hover {
  background-color: #0388ca!important;
  cursor: pointer;
  transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}
.button:active {
  background-color: #0276ae!important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
